.nav{
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    margin-bottom: 5%;
}
.logo{
    padding-left: 40%;
    font-size: 20px;
}
.toxbex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 10%;
}
.text{
    width: 90%;
    height: 100%;
}
.acchead{
    margin-left: 10%;
}
.acc-inform{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.user-img{
    width: 15%;
    height: auto;
    margin-left: 5%;
    margin-right: 5% ;
}
.left-col{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.inform-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 80vh;
}