
html{
    font-family: "Roboto", sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    margin-bottom: 5%;
}
.logo{
    padding-left: 40%;
    font-size: 20px;
}
.toxbex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 10%;
}
.text{
    width: 90%;
    height: 100%;
}
.acchead{
    margin-left: 10%;
}
.acc-inform{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.user-img{
    width: 15%;
    height: auto;
    margin-left: 5%;
    margin-right: 5% ;
}
.left-col{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.inform-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 80vh;
}
/* From Uiverse.io by Voxybuns */ 
button {
  /* Variables */
  margin-top: 10%;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* From Uiverse.io by dovatgabriel */ 
.group {
 position: relative;
}

.input {
 font-size: 16px;
 padding: 10px 10px 10px 5px;
 display: block;
 width: 200px;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
}

.input:focus {
 outline: none;
}

label {
 color: #999;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
 top: -20px;
 font-size: 14px;
 color: #5264AE;
}

.bar {
 position: relative;
 display: block;
 width: 200px;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #5264AE;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #5264AE;
 }

 to {
  width: 0;
  background: transparent;
 }
}